<a href="javascript:;">Nouvel archivage</a>

<table>
	<thead>
		<th> Type </th>
		<th> Numéro </th>
		<th> Année </th>
		<th> Date </th>
		<th> Date Archivage </th>
		<th> Actions </th>
	</thead>
	<tbody>
		<tr>
			<td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<td></td><td></td><td></td><td></td><td></td><td></td>
		</tr>
	</tbody>
</table>
