{% extends 'IbnZohrArchivesBundle:Base:layout.html.twig' %}

{% block body %}
    <div class="row" style="height:40vh;width:80%;margin:auto;">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Ajouter Patient</span>
                            </div>
                        </div>


                        <div class="portlet-body form">
                            <form role="form" method="POST" action="{{ path('archives_patient') }}">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label>Prénom</label>
                                        <div class="input-icon">
                                            <i class="fa fa-bell-o font-green"></i>
                                            <input type="text" name="first" class="form-control" placeholder="Prénom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nom</label>
                                        <div class="input-icon">
                                            <i class="fa fa-bell-o font-green"></i>
                                            <input type="text" name="last" class="form-control" value="" placeholder="Nom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Age</label>
                                        <div class="input-icon">
                                            <i class="fa fa-bell-o font-green"></i>
                                            <input type="text" name="age" class="form-control" placeholder="Age">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Adresse</label>
                                        <div class="input-icon">
                                            <i class="fa fa-bell-o font-green"></i>
                                            <input type="text" name="addresse" class="form-control" placeholder="adresse">
                                        </div>
                                    </div>

                                    <input type="submit" class="btn green" value="Ajouter Patient" />

                            </form>
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}